DATABASE_URL=postgresql://chaos:chaos123@localhost:5432/chaosdb
REDIS_URL=redis://localhost:6379
PROMETHEUS_URL=http://prometheus:9090
DOCKER_HOST=unix:///var/run/docker.sock
PORT=4000
NODE_ENV=development
TARGET_URL=http://payment-api:5001
